// ---IMPORTS----
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    height: 100%;
    margin-top: 15vh;
    margin-bottom: 10vh;
    background-image: linear-gradient(
        to bottom,
        hsl(273, 75%, 66%),
        hsl(240, 73%, 65%)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white ;
    margin: 20px;
    border-radius: 10px;
    width: 95%;
    height: initial;
    border-color: solid forestgreen 1px;
}

.mobile-illust-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: -100px;
    border-color: solid forestgreen 1px;
}

.woman-illust-mobile {
    margin-left: 0;
    margin-right: 0;

}

.illust-shadow { 
    position: relative;
    top: -90px;
    left: 20px;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -180px;
    width: 80%;
    height: 90%;

}

.desktop-illust-container {
    display: none;
}

h1 {
    text-align: center;
}

.QA-container {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid .5px hsl(240, 5%, 91%);
    font-weight: 50;
    font-size: 14px;
}

.question {
    color: hsl(237, 12%, 33%);
    &:hover {
        color: hsl(14, 88%, 65%);
        cursor: pointer;
    }
    display: flex;
    justify-content: space-between; 
}

.openedArrow {
    transform: rotate(180deg);
}

.answer {
    display: none;
    color: hsl(240, 6%, 50%);
    padding-top: 15px;
}

.showedAnswer {
    display:block;
}

.activeQuestion {
    font-weight: 700;
    color:  hsl(238, 29%, 16%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

// Mediaqueries

@media (min-width: 1440px) {
    body {
    margin-top: 10vh;
    }
    .content-container {
        flex-direction: row;
        width: 60vw;
        padding-top: 45px;
    }
    .desktop-illust-container {
        display: inline-block;
        position: relative;
        left: -100px;
    }
    .mobile-illust-container {
        display: none;
    }

    h1 {
       text-align: left;
    }

    .list-container {
        position: relative;
        left: -80px;
        top: -30px;
        width: 60%;
    }
}