@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
  margin-top: 15vh;
  margin-bottom: 10vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  width: 95%;
  height: initial;
  border-color: solid forestgreen 1px;
}

.mobile-ilust-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  top: -100px;
  border-color: solid forestgreen 1px;
}

.woman-ilust-mobile {
  margin-left: 0;
  margin-right: 0;
}

.ilust-shadow {
  position: relative;
  top: -90px;
  left: 20px;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -180px;
  width: 80%;
  height: 90%;
}

.desktop-ilust-container {
  display: none;
}

h1 {
  text-align: center;
}

.QA-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 0.5px #e7e7e9;
  font-weight: 50;
  font-size: 14px;
}

.question {
  color: #4a4b5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.question:hover {
  color: #f47c57;
  cursor: pointer;
}

.openedArrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.answer {
  display: none;
  color: #787887;
  padding-top: 15px;
}

.showedAnswer {
  display: block;
}

.activeQuestion {
  font-weight: 700;
  color: #1d1e35;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 1440px) {
  body {
    margin-top: 10vh;
  }
  .content-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60vw;
    padding-top: 45px;
  }
  .desktop-ilust-container {
    display: inline-block;
    position: relative;
    left: -100px;
  }
  .mobile-ilust-container {
    display: none;
  }
  h1 {
    text-align: left;
  }
  .list-container {
    position: relative;
    left: -80px;
    top: -30px;
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */