// Imports
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

/* Colors */
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-soft-blue: hsl(235, 21%, 56%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-mostly-black-blue: hsl(234, 17%, 12%);

// Fonts
:root {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
}

//Responsive breakpoints

//Mixins
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bg() {
  position: absolute;
  width: 100%;
  z-index: -1;
}

//General

//* {
// border: solid orange .5px;
//}
html {
 height: 100vh;
}

body {
  @include center();
  flex-direction: column;
  justify-content: flex-start;
  background-color: $very-dark-blue;
}

.countdown-page {
  width: 100vw;
  @include center();
  flex-direction: column;
  justify-content: flex-start;
  background-color: $very-dark-blue;
}

h1 {
  @include center();
  text-align: center;
  width: 350px;
  height: 20vh;
  margin-top: 15vh;
  top: 50px;
  font-weight: 50;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $white;
}

.countdown-container {
  @include center();
  justify-content: flex-start;
  // position: relative;
  top: 50px;
  justify-content: space-around;
  height: 20vh;
  width: 350px;
}

.time {
  @include center();
  flex-direction: column;
  height: 110px;
  font-weight: 100;
}

.number {
  color: $soft-red;
  font-size: 2.8em;
  font-weight: 50;
  @include center();
  width: 80px;
  height: 80px;
  background-color: $dark-desaturated-blue;
  border-radius: 5px;
  margin: 7px;
}

.time-unity {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 8px;
  color: $grayish-blue;
  letter-spacing: 0.3em;
  padding: 5px;
}

.buttons-container {
  @include center();
}

button {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  background-color: $dark-desaturated-blue;
  color: $soft-red;
  border: none;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  @include center();
  font-weight: 50;
  margin: 10px;
  outline: none;
}

button:hover {
  opacity: 0.7;
}

//Modal
#modal {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 250px;
  z-index: 1;
  padding: 50px;
  background-color: $dark-desaturated-blue;
  color: $soft-red;
  height: 250px;
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.modal-btn-container {
  @include center();
  margin: 10px ;
}

.buttons-container {
  @include center();
}

form {
  @include center();
  flex-direction: column;
  justify-content: space-around;
}

.modal-btn {
  background-color: $grayish-blue;
  color: white;
}

input {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $grayish-blue;
  margin: auto 0;
  font-size: 14px;
  text-align: center;
}

.alert {
  color: $soft-red;
  display: none;
  text-align: center;
}
//Footer
.icons-container {
  position: absolute;
  bottom: 40px;
  width: 170px;
  @include center();
  justify-content: space-between;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: $grayish-blue;
  font-weight: 100;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0px;
}
.attribution a {
  color: $soft-red;
}

//Backgrounds
.bg-top {
  @include bg();
  top: 0px;
}

.bg-bottom {
  @include bg();
  bottom: -20px;
}
