@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
/* Colors */
:root {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #1e1f29;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 20vh;
  margin-top: 15vh;
  top: 50px;
  font-weight: 50;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
}

.countdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 20vh;
  width: 350px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 110px;
  font-weight: 100;
}

.number {
  color: #fb6087;
  font-size: 2.8em;
  font-weight: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  background-color: #343650;
  border-radius: 5px;
  margin: 7px;
}

.time-unity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 8px;
  color: #8486a9;
  letter-spacing: .3em;
  padding: 5px;
}

.reset-btn {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  background-color: #343650;
  color: #fb6087;
  border: none;
  letter-spacing: .3em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 50;
}

.icons-container {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #8486a9;
  font-weight: 100;
  letter-spacing: .1em;
  position: absolute;
  bottom: 0px;
}

.attribution a {
  color: #fb6087;
}

.bg-top {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0px;
}

.bg-bottom {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: -20px;
}
/*# sourceMappingURL=style.css.map */